body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

#wrapper {
    display: flex;
    border: solid;
    background-color: white;
    border: 0px;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    padding: 10px;
}

input {
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
}

input:invalid {
    border-color: red;
    background-color: lightcoral;
}

input:valid {
    background-color: lightgreen;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

.error {
    width: 100%;
}

ul {
    list-style-type: none;
}

button {
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 10px;
    width: 60px;
    height: 30px;
}