/* body {
    width: 200px;
    margin: 0 auto;
}

p * {
    display: block;
} */

input[type="email"] {
    appearance: none;
    /* width: 100%; */
}

input:invalid {
    border-color: red;
    background-color: lightcoral;
}

input:valid {
    background-color: lightgreen;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

.error {
    width: 100%;
}

ul {
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
    list-style-type: none;
}
